html{
	background-image: url('../img/eche.png');
	background-repeat: repeat;
	text-align: center;
	color: #c6002a;
	width:auto;
}

@media screen and (max-width: 527px) {
      #icon {
        display: none;
      }
    }

table{
	width:auto;
}	

form{
	padding-left:5%;
	text-align: right;
	width:65%
}

.name{
	text-align:center;
	background-color:Black;
}

#schedule tr td{
	border: 1px solid #c6002a;
	cursor: pointer;
	background-color:white;
	opacity:0.5;
	width:10%;
}

#schedule{
	width: 100%;
	border-spacing:20px 0px;
}

#but{
	margin-left:40%;
}

#icon{
	padding-bottom:250px;
	padding-left:0px;
	width: 80%;
	height: auto;
}

#presentation{
	font-family: Impact;
	font-size: 20px;
	text-align: center;
	width: 100%;
}