html{
	background-image: url('../img/eche.png');
	background-repeat: repeat;
	text-align: center;
	color: #c6002a;
	width:auto;
}

body{
	margin:0px;
	width:100%;
}

.name{
	text-align:center;
	background-color:Black;
}

.navbar {
	background-color:#181712;
	font-family:Verdana;
	height:45px;
}

.navbar a:not(.logout){
	float:left;
	background-color:#00ACEB;
	color:white;
	width:19.5%;
	border-left:0.25px solid black;
	border-right:0.25px solid black;
	padding:0.75em 0em 0.75em 0em;
	text-decoration:none;
}

.navbar a:hover {
	background-color:#c6002a;
}


.navbar a.selected {
	background-color:#c6002a;
	color:white;
}

.logout {
	float: right;
	margin-right:0.5em;
	margin-top:0.3em;
	color:white;
	border:0.25px solid black;
	padding:0.25em 0.5em 0.5em 0.5em;
	background-color:RED;
	width: auto;
	text-decoration:none;
}

.menu{
	width: 100%;
}

.menu td{
	width: 33%;
}

.menu .logout{
	margin-bottom: 50%;
}

#icon{
	padding-bottom:200px;
	padding-left:0px;
	width: 80%;
	height: auto;
}

#iconav {
	margin-top:2.5px;
	height:40px;
	width:auto;
	float:left;
}

#navorg{
	margin-left:45%;
	height:45px;
}
	
#presentation{
	font-family: Verdana;
	font-size: 23px;
	text-align: center;
	width: 100%;
}

#formulaire{
width :100%;
align : center;
}

#formulaire p {



}

form {
  font-family : Verdana;
  overflow: hidden;
  padding-left:5%;
  margin-left : 250px;
  width:65%
  

}

#text{
	font-family: Verdana;
	width : 90%;
	font-size : 19px;

}

input {
  font-family : Verdana;
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
  
}

#global{
  width:100%;
}


#global #tables {
	text-align : right;
	margin : 50px;
    float:left;
    width:60%;
}
#global #mod_button {
	margin-top : 0px;
	float:right;
    margin-left:240%;
    display: inline-block;
     
}
  
  
