@media screen and (max-width: 527px) {
      #icon {
        display: none;
      }
}	

html{
	background-image: url('../img/eche.png');
	background-repeat: repeat;
	text-align: center;
	color: #c6002a;
	width:auto;
}

body{
	margin:0px;
	width:100%;
}

form{
	padding-left:5%;
	text-align: right;
	width:65%
}

.name{
	text-align:center;
	background-color:Black;
}

.passed{
	opacity:0.5;	
	background-color: #1bff00;
}

.navbar {
	background-color:#181712;
	font-family:Verdana;
	height:45px;
}

.navbar a {
	float:left;
	background-color:#00ACEB;
	color:white;
	width:19.5%;
	border-left:0.25px solid black;
	border-right:0.25px solid black;
	padding:0.75em 0em 0.75em 0em;
	text-decoration:none;
}

.navbar a:hover {
	background-color:#c6002a;
}

.navbar a.selected {
	background-color:#c6002a;
	color:white;
}

.navbar a.logout {
	float: right;
	margin-right:0.5em;
	margin-top:0.3em;
	padding:0.25em 0.5em 0.5em 0.5em;
	background-color:RED;
	width: auto;
}

.notPassed{
	background-color: white;
	opacity:0.5;
}
#schedule tr td{
	border: 1px solid #c6002a;
	cursor: pointer;
	width:10%;
}

#formtab{
	border: 3px solid Black;
	width:45%;
}

#formtab th{
	border: 2px solid Black;
}

#formtab td{
	border: 1px solid Black;
}

#schedule{
	width: 100%;
	border-spacing:20px 0px;
}

#but{
	margin-left:40%;
}

#move{
	margin-left:10%;
}

#move td{
	width:33%;
}

#mailIt{
	padding-top:5%;
	text-align:left;
	width: 90%;
}

#previous{
	width:100px;	
	margin-left:10%;
}

#actual{
	width:100px;
	margin-left:50%;
}

#next{
	width:100px;
	margin-left:100%;
}

#icon{
	padding-bottom:200px;
	padding-left:0px;
	width: 80%;
	height: auto;
}

#iconav {
	margin-top:2.5px;
	height:40px;
	width:auto;
	float:left;
}

#navorg{
	margin-left:45%;
	height:45px;
}
	
#presentation{
	font-family: Impact;
	font-size: 20px;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 700px) {
	  #iconav{
		  display: none;
	  }
	  #navorg{
		  margin-left:0%;
	  }
}

input[name="mail[]"] { 

	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	color: #c6002a;
}

input[name="INE[]"] {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	color: #c6002a;
}