Requirements
1- teacher has overview of planning on start screen (not by event but by date/time)
2- teacher can mix events in same time slots
3- teacher can put students in teams per event
4- system has a supervisor account
5- supervisor can put lists of students in the main student list (upload)
	(student number, first name, prefix, last name, group, e-mail address)
6- supervisor can maintain main student list
7- teacher can not add new users to system
8- teacher can allow existing users to subscribe
9- teacher can plan different events with same or overlapping time-slots
10- system is utf-8 encoded (sources, html and database)
11- system is htlm5 compliant https://validator.w3.org/
12- system uses architecture to separate view, logic and data
13- system's stylesheets are css3 compliant https://jigsaw.w3.org/css-validator/
14- user can switch language of the user interface (english / dutch / french ...)
15- student gets overview of events he has subscribed to or can subscribe to
16- event has period that subscription is allowed: start-date and and-date
17- teacher can import list of student numbers (plus team) for an event from excel or csv/text file 
18- teacher can select students from main student list (filter by group, name...)
19- team mates must subscribe in same time slot
20- student can cancel or reschedule a subscriptions that is in the future (sliding window, set per event)
21- student can not cancel or reschedule a subscription that is in the past
22- teacher can remove subscriptions to allow students to reschedule
23- teacher can get an overview of all students in an event, with their time slot (sort by name, time, ..)
24- possible user authorisation systems:
	- students can log in with a code (default code is student id)
	- teachers can log in with a secret code
	- system can send invitations to students by e-mail with a personal code or link
	- users use avans login system to enter the system

Global:
	-The website has a design with AVANS styles (colors,  pattern, ...)
	-Teacher/Supervisor interfaces have a navbar to naviguate in pages.
Teacher:
   .menu_teacher.php:
	-Teacher can naviguate in time if events length is superior to 5 days
   .mail.php:
	-Teacher need to send mail to invite some students in event
	-Teacher can tick an event in mail categorie to add group of students
	-Teacher can import a list of students by excel or CSV/text file (if they are already in the system)
	-Teacher can enter nomber of students to add them (without create excel or CSV/text file)
	-Teacher can choose to send and pre-writed mail or personnalise it
   .createE.php:
	-Teacher can enter name of event and select dates of Start and End
	-Date are controlled (Date end > Date Start)
	-Teacher is reconduct to menu_teacher.php with the new event created in selected
   .listE.php:
	-Teacher can have access to a list of Student for an specified event
	-Teacher can search precise student with a Search bar

Student:
   .menu.php:
	-Student has quickly access to General Schedule after log
	-Student can choose to focus a precise event
Supervisor:
	-Supervisor can do all basic SQL request by his interface